.concept {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(#250358, #440c66);
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 20px rgba(234, 78, 240, 0.2);
  width: 33%;
  transition: all 0.2s;
}
